html{
    max-width: 100%;
    height: 100%;
}
body{
    background: linear-gradient(#5BAEB7, #1E80C1,#414C6B) no-repeat;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}
/*Login box*/
main{
    width: 15vw;
    padding: 2% 15%;
    margin:  1em auto;
    background: #f0f8ff ;
    border-radius: 15px;
    color: #264348 ;
    box-shadow:  6px 12px 8px #264348;
}
.title{
    margin: 0 0 0.5em 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}
.message{
    margin: 0.25em;
}
.message a{
    color: #414C6B;
}
.message a:hover{
    color: #000137;
}
input{
    outline: 0;
    background: #e5e4e3;
    width: 100%;
    border: 0;
    margin: 0 0 1em;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 13px;
    font-size: 1em;
}
button{
    outline: 0;
    background: linear-gradient(45deg,#5BAEB7, #1E80C1) no-repeat;
    width: 100%;
    border: 0;
    margin: 0 0 1em;
    padding: 1em;
    border-radius: 10px;
    color: #e5e4e3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}
/*Footer styles*/
.footer{
    max-width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}
.row{
    max-width: 100%;
    border: 0;
    margin: 0 ;
    padding: 0;
    color: #f0f8ff;
    font-size: x-small;
}
.row ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
a{
    text-decoration: none;
    color: #e5e4e3;
}
@media screen and (min-width: 300px) and (max-width: 500px) {

    body{
        max-width: 20em;
        margin: auto;
    }

    main{
        margin: 5em auto;
        padding: 1em;
        width: 16em;
        height: 25em;
        max-height: 100%;
    }
    .log-box{
        margin: auto;
        width: 15em;
    }
    div#logo{
        max-width: 2em;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    p.message a{
        color: #e5e4e3;
    }
    a:hover{
        color: #5BAEB7;
    }
    
}